/* 不建议使用* */
/* * {
    margin: 0;
    padding: 0;
} */
/* id选择器 */
#main {
    color: blue;
}
/* 类选择器 */
.news_title {
    color: brown;
}
/* 元素选择器 */
h3 {
    color: aquamarine;
}

/* 属性选择器 */
[title] {
    font-size: 1.5em;
}

p[title] {
    color: blue;
}

p[title="abc"] {
    color: blueviolet;
}

p[title~="de"] {
    color: orange;
}

p[title|="xyz"] {
    color: chocolate;
}

a[href][title] {
    color: darkcyan;
}


/* 伪类与伪元素 */

p:hover {
    background-color: antiquewhite;
}

li:hover {
    background-color: antiquewhite;
}

a:link {
    color: blue;
}

a:visited {
    color:blueviolet;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: brown;
}

input:focus {
    background-color: blue;
}

pre:first-child {
    color: brown;
}

li:first-child {
    color: brown;
}

div p:first-line {
    color: red;
}

div p:first-letter {
    font-size: 200%;
    font-weight: bold;
}

div h1:before {
    content: "before:";
}

div h1:after {
    content: ":after";
}